.advertisting-banner.fix-block-width
  img(:src="img.src" :alt="img.alt").advertisting-banner__img
  .advertisting-banner__title {{ title }}
  a.advertisting-banner__title__link(:href="link.href" :title="link.text" target="_blank") {{ link.text }}
