svg.arrow-icon(width="43" height="40" viewBox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M32.1816 17.0005L19.0908 3.90969L22.9092 0.0913086L42.8184 20.0005L22.9092 39.9097L19.0908 36.0913L32.1816 23.0005L0 23.0005L2.62269e-07 17.0005L32.1816 17.0005Z")

