.filter-menu {
  display: inline-block;
  border-right: 1px solid $cl-cobalt;
  width: 35%;
  &:last-child{
    border-right: none;
  }
  &__content{
    position: absolute;
    width: 100vw;
    // с учетом высоты шапки, которой нет на данный ммоент
    height: calc(100vh - 152px);
    z-index: 10;
    background: $cl-cobalt;
    left: 0;
    top: 100%;
    padding-top: 10px;
    overflow:hidden;
  }
  &__link {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    padding: 9px 13px;
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  &-wrap{
    display: flex;
    border-bottom: 1px solid $cl-cobalt;
    border-top: 1px solid $cl-cobalt;
    position: relative;
    &__content {
      height: calc(100% - 216px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  &__icon {
    display: inline-block;
    background-image: url('~/assets/image/arrow-button.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 8px;
    height: 4px;
    margin-left: 5px;
  }
  &--sort{
    width: 65%;

    .filter-menu__link {
      justify-content: center;
    }
  }
  &--sort &{
    &__icon {
      background-image: url('~/assets/image/icon-arrow-blue.svg');
      width: 10px;
      height: 10px;
    }
  }
  &.open{
    background: #0959A1;
    .filter-menu__icon {
      background-image: url('~/assets/image/arrow-button-white.svg');
    }
    &.filter-menu--sort{
      .filter-menu__icon {
        background-image: url('~/assets/image/icon-arrow-while.svg');
      }
    }
  }
  &.open &{
    &__link {
      color: #fff;
    }
  }
  @media(min-width: $mobile-big){
    width: 50%;
  }
}