.b-footer-bottom-row
  .b-footer-bottom-row__left-text
    p.b-footer-bottom-row__text {{ text.copyright }}
    p.b-footer-bottom-row__text {{ text.protection }}
  .b-footer-bottom-row__right-text
    p.b-footer-bottom-row__text
      a(target="_blank" :href="text.develop.link") {{ text.develop.text }}
