.more-products {

  &__list {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $tablet) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    width: 50%;
    border-right: 1px solid $cl-cobalt;

    @media (max-width: $tablet - 1) {
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid $cl-cobalt;
      }

      &:nth-child(2),
      &:nth-child(4) {
        border-right: none;
      }
    }

    @media (min-width: $tablet) {
      &:nth-child(3) {
        border-right: none;
      }

      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
    }

    @media (min-width: $desktop) {
      &:nth-child(3) {
        border-right: 1px solid $cl-cobalt;
      }

      &:nth-child(4) {
        border-right: none;
        display: flex;
      }

      &:nth-child(5) {
        display: none;
      }
    }

    @media (min-width: $desktop-big) {
      &:nth-child(4) {
        border-right: 1px solid $cl-cobalt;
      }

      &:nth-child(5) {
        display: flex;
        border-right: none;
      }
    }
  }
}
