.container
  .card-detail-section-wrap
    Breadcrumbs
    TheCardDetail
    MoreProducts(
      :title="moreProduct.form.title"
      :arrProduct="moreProduct.form.arrProduct"
      :link="moreProduct.form.link"
    )
    MoreProducts(
      :title="moreProduct.more.title"
      :arrProduct="moreProduct.more.arrProduct"
      :link="moreProduct.more.link"
    )
