footer.b-footer
  h2.b-footer-title {{ $t('footer.title') }}
  FooterPartner
  .b-footer__information
    .b-footer__row
      .b-footer__col
        FooterMenu
    .b-footer__row
      FooterMenuSubscription
    .b-footer__row
      FooterBottomRow
