svg.arrow-right-icon(width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M7.74405 4.34826L4.48389 0.875617L5.30593 5.79823e-09L10 5L5.30593 10L4.48389 9.12438L7.74405 5.65174L6.33449e-09 5.65174L5.83644e-08 4.34826L7.74405 4.34826Z")