.card-detail-share-social
  <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" async defer></script>
  <script src="//yastatic.net/share2/share.js" async defer></script>
  h3.card-detail-share-social__title {{ $t('cardDetail.shareSocialTitle') }}
  .card-detail-share-social__wrap-icons
    .card-detail-share-social__icon.ya-share2.card-detail-share-social__icon--vk(data-services="vkontakte")
    .card-detail-share-social__icon.ya-share2.card-detail-share-social__icon--tw(data-services="twitter")
    .card-detail-share-social__icon.ya-share2.card-detail-share-social__icon--fb(data-services="facebook")
