svg.arrow-right-thin-icon(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M12.3905 6.95721L7.17423 1.40099L8.48949 0L16 8L8.48949 16L7.17423 14.599L12.3905 9.04279L0 9.04279L8.55853e-08 6.95721H12.3905Z")
