section.promotion
  .container.promotion__container
    PromotionItem
    //- MoreProducts(
    //-   :title="moreProducts.title"
    //-   :arrProduct="moreProducts.arrProduct"
    //-   :link="moreProducts.link"
    //- )
