.images-product {

  &__products-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__grid {
    border-bottom: 1px solid $cl-cobalt;
  }

  &__links {
    display: flex;

    & .cross-link:first-child {
      border-bottom: none;
    }
  }

  &__filter-checkboxes {
    margin-top: 20px;
  }
}
