.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-left: 0;
  padding: 14px 0;

  @media (min-width: $tablet) {
    padding: 20px 0;
  }

  @media (min-width: $desktop) {
    padding: 40px 0;
  }

  &__item {

    & a,
    & span {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 20px;
      letter-spacing: 1px;
    }

    &:last-child {
      & span {
        color: $cl-cobalt;
        cursor: initial;
        pointer-events: none;
      }
    }


    &:not(:last-child) {
      margin-right: 20px;

      &:after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.96875 9.97059L4.93842 6.00092L0.96875 2.03125L2.02941 0.970591L7.05974 6.00092L2.02941 11.0312L0.96875 9.97059Z' fill='%238FA2B3'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        width: 8px;
        height: 12px;
        right: -14px;
        top: 4px;
        position: absolute;
      }
    }

    &:before {
      content: none;
    }
  }

  &__link,
  & a {
    color: $cl-nepal;
    cursor: pointer;
    transition: color 0.3s;

    @media (min-width: $desktop) {
      &:hover {
        color: $cl-cobalt;
      }
    }
  }
}
