svg.arrow-top-icon(width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M0.760786 0H7V6.23921H6.10868V1.52157L0.630256 7L0 6.36974L5.47843 0.891316H0.760786V0Z")